body {
    background-color: #f5f5dc;
}

.header {
    content: "";
    clear: both;
    display: block;
    float: left;
    width: 100%;
    background-color: #deb887;
    height: 50px;
}
.sub-header {
    height: 47px;
    width: 20%;
    float: left;
    display: inline-block;
}
.sub-header h1 {
    font-family: Garuda;
    font-size: 30px;
    color: #ff1493;
    text-align: center;
    margin-top: inherit;
}

.login {
    float: left;
    display: inline-block;
    margin-left: 350px;
    margin-top: 50px;
    background-color: khaki;
    height: 300px;
    width:600px;
    border-radius: 5px;
}

.login-header {
    font-family: fantasy;
    font-size: 20px;
    color: coral;
    text-align: center;
}
.login1 {
    padding-top: 50px;
}

.user {
    margin-left: 150px;
    margin-top: 10px;
}
.password {
    margin-left: 150px;
    margin-top: 10px;
}
input {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color: antiquewhite;
}
button {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    background-color: coral;
    color: white;
    margin-top: 10px;
    margin-left: 150px;
    cursor: pointer;
    cursor: hand;
}
a {
    cursor: pointer;
    cursor: hand;
    color: blue;
    font-family: "Droid Sans Armenian";
    padding-top: 50px;
    margin-left: 200px;
}
